[2020-04-30 11:32] nyechiel opened #68 "Add support for finer-grained cluster connectivity options"
Submariner currently assumes full mesh by default, and provision VPN connections between all participating clusters. For some use cases, it makes sense to offer finer-grained connectivity options. This could also improve overall scalability/state maintained, for those cases in which full mesh is not required.

[2020-07-27 11:33] manosnoam opened #5 "subctl show command to return non-zero exit code on failed resource"
Does subctl show command returns non-zero exit code, if there's a missing/failed resource (e.g connections, networks, gateways, etc.) ?

If not, can you add this feature ?

[2020-07-28 10:13] maayanf24 commented on #5
@manosnoam  - In case no endpoints / connections / gateways , should the show cmd return non zero exit code as well?
Currently it will return non zero in some of the cases (no resource found)

[2020-07-29 11:45] manosnoam commented on #5
@nyechiel @mangelajo @skitt
What do you think ?

[2020-07-29 11:51] nyechiel commented on #5
This was also discussed on Slack, and I like the approach suggested by @vthapar:

Non-zero exit code should only be used in case of failures. If there are no resources present, let's mimic kubectl's behavior and return a "no resource found" message.

[2020-07-29 14:21] manosnoam commented on #5
Yep, "No resources found" returns exit code 0 in kubectl as well.
So please return non-zero just for errors in one of the resources.

[2020-09-01 08:19] manosnoam commented on #5
Hi @maayanf24 , @nyechiel , @tpantelis ,
I see you closed this issue, but it's not yet verified...

Look at the Subctl error that happened in Submariner Cable-Driver, for example: https://github.com/submariner-io/submariner/issues/781

When I used `subctl show gateways` (or `show all`), the command did show there's an error in Subctl resources:
[code]

However, the exit code was zero. Shouldn't it

[2020-09-01 08:31] manosnoam commented on #5
@vthapar suggested that subctl should not return error code, since subctl got a result.
Unready state etc. is context specific to that resource, but not subctl show error.
Similarly to how kubectl doesn't throw error, if you do a get on pods, which are in an error state.
The command is subctl show and error should mean cli code failed to get sufficient information, not what the information actuall

[2020-09-01 08:31] #5 closed

[2020-09-01 13:49] tpantelis commented on #5
This was to document an enhancement request. We verify implementation PRs  - I didn't think we said we'd verify enhancement requests.

[2020-12-13 01:02] github-actions[bot] opened #19 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/enhancements/actions?query=workflow%3APeriodic) for details.

[2020-12-17 14:19] dfarrell07 commented on #19
This was fixed by https://github.com/submariner-io/enhancements/pull/17.

[2020-12-17 14:19] #19 closed

[2021-01-27 11:16] mangelajo commented on #68
I remember @tpantelis also had some ideas about this. May be we shall do some brainstorming before writing an enhancement proposal would be good.

[2021-01-27 12:30] aswinsuryan commented on #68
Sure that will be great,  I will schedule a discussion.

[2021-01-27 14:36] nyechiel commented on #68
We probably want to revisit https://github.com/submariner-io/enhancements/pull/4/files and not start from scratch

[2021-01-29 18:17] tpantelis commented on #68
I updated that proposal to include fine-grained connectivity. We can discuss next week.

[2021-04-02 11:56] lemonit-eric-mao opened #26 "Cluster already has GlobalCIDR allocated: 169.254"

[2021-04-09 05:31] #26 closed, assigned to nobody

[2021-04-28 13:50] mkolesnik opened #73 "Extract broker syncer to it's own service"
## Epic Description
We need a service dedicated to syncing the broker information from the local cluster to the broker, and the broker info to the local cluster.

We have seen on scale testing that having the broker syncer inside the gateway causes issues to connectivity when there's a high enough scale.

Additionally, multiple projects (Submariner, Lighthouse) are using a specific broker syncer t

[2021-05-03 00:27] tpantelis commented on #68
bump

[2021-05-04 12:53] nyechiel commented on #68
EP: https://github.com/submariner-io/enhancements/pull/4

[2021-05-04 17:53] dfarrell07 opened #28 "Use ID scheme for enhancement proposals"
Similar to how Kubernetes uses "KEP-####", we should give unique IDs to enhancement proposals so we can easily reference them elsewhere.

It would be obvious to use "SEP-####", and that's okay with me, but it does unfortunately also sometimes stand for "Somebody Else's Problem". :sweat_smile:

https://www.urbandictionary.com/define.php?term=SEP

[2021-05-06 12:38] mangelajo opened #91 "If the gateway public IP changes the gateway doesn't detect & update the Endpoint"
**What happened**:

1) submariner-gateway starts, detects public IP and publishes the Endpoint to the broker
2) Other gateways inter-connect to this new endpoint, everything is fine
3) The public IP for this gateway changes
4) Submariner-gateway doesn't detect the change and other clusters can't connect to this gateway anymore.

**What you expected to happen**:

I would expect that:
1) the gateway

[2021-07-03 13:27] tpantelis commented on #68
bump

[2021-07-03 17:12] tpantelis commented on #73
bump

[2021-07-09 17:43] raffaelespazzoli opened #34 "Epic: Add support for multiple active gateways"
multiple active gateways can increase the bandwidth. Some cloud provider have limited instance-to-instance bandwidth between regions, so this feature is an enabler for all throughput-sensitive workloads.

Enhancement document: https://github.com/submariner-io/enhancements/pull/69

[2021-07-09 17:47] raffaelespazzoli opened #35 "Add support for full node mesh"
Full node mesh can be support with the wireguard VPN implementation.
Full node mesh adds the following:
1. maximum theoretical bandwidth exploitation
2. best possible resilience to node failure, in fact with n active gateways (#34 ) a node failure causes a drop in bandwidth of 1/n. But with full node mesh a node failure causes a drop in bandwidth of zero as the only workload that is impacted by it

[2021-07-12 10:34] mangelajo commented on #35
How would full-node mesh work in enviroments were not all nodes have PublicIPs ? would we create a load balancer per worker node?

The AWS Implementation of the K8s network load balancer works particularly bad when multiple ports are added (if that is an alternative), at least it's what I have been experiencing empirically.

[2021-07-12 10:52] raffaelespazzoli commented on #35
this old project gives an idea of how it would be possible: https://github.com/Huang-Wei/shared-loadbalancer . I realize there is some work do to there. In the immediate, having the feature when the nodes are reachable (VPC peering, bare metal on prem), would be still a win.

[2021-07-16 13:55] mangelajo opened #36 "Add support for boringtun or wireguard-go in wireguard when kernel module is not available"
https://github.com/cloudflare/boringtun It's a rust based, very performant implementation of wireguard.

https://github.com/WireGuard/wireguard-go is a go-based inplementation (performance to be checked)

[2021-07-16 13:57] mangelajo opened #37 "consider a tailscale cable driver (wireguard under the hood)"
Using a subnet router would theoretically make it possible:

https://tailscale.com/kb/1019/subnets/

It's a managed wireguard on steroids, which would allow connecting also to existing legacy workloads
with ease.

It supports HTTP relay via their cloud servers for cases where NAT traversal is impossible, as well as
NAT hole punching techniques, etc...

[2021-07-16 13:59] mangelajo opened #38 "Consider implementing NAT-hole-punching techniques for all cable drivers in general"
This would avoid the necessity of port mapping in a great deal of cases:

   https://en.wikipedia.org/wiki/UDP_hole_punching

Once the UDP hole is punched (if the router would allow that, of course),
then we can advertise that port as the port to be used for NATT discovery or UDP traffic.

[2021-07-16 14:00] mangelajo commented on #28
:rofl:

[2021-07-20 10:19] mangelajo opened #39 "Make broker objects expirable (auto-cleanup)"
See [1] for reference.

Broker Endpoints and cluster could expire if the timestamp is not updated in T, while  submariner
would update the objects every T/2 time.

Alternatively, instead of auto-cleanup, this could be an admin triggered action on the broker, to avoid
for example downtime to cluster who can't contact the broker temporarily.

Cleanup of local copies should not happen if the broker i

[2021-08-09 08:59] vthapar opened #87 "Epic: Support OCP with submariner on Azure"
**What would you like to be added**:
Proposal is to fully support connecting multiple OCP clusters on Azure using Submariner.

**Why is this needed**:
Aim of this proposal is to list and track steps needed to fill any gaps and allow full support for such deployments.

**Work Items**

- [x] Test and confirm manual steps to get Azure with submariner working
- [x] Add API in cloud-prepare to create a

[2021-08-09 10:01] vthapar opened #116 "Epic: Support OCP with submariner on VMWare"
**What would you like to be added**:
Proposal is to fully support connecting multiple OCP clusters on VMWare using Submariner.

**Why is this needed**:
Aim of this proposal is to list and track steps needed to fill any gaps and allow full support for such deployments.

**UPDATE**
Investigations have confirmed that there is nothing that needs to be done to prepare cloud for VM Ware, in subctl or OC

[2021-08-09 10:02] vthapar opened #117 "Epic: Support OCP with submariner on IBM Cloud"
**What would you like to be added**:
Proposal is to fully support connecting multiple OCP clusters on IBM Cloud using Submariner.

**Why is this needed**:
Aim of this proposal is to list and track steps needed to fill any gaps and allow full support for such deployments.

**Work Items**

- [ ] Deploy using cloud prepare and subctl on existing OCP clusters on IBM Cloud
- [ ] Deploy using [OCM and s

[2021-10-27 16:31] skitt opened #45 "E2E checks should abort on the first failure"
Currently, E2E tests run the full test suite, even when tests are failing. The failures often show up as time-outs, and a failing test suite thus takes a very long time; but in most cases, we’re only interested in whether the tests pass or fail, not the details of the failure (after the first one). This is particularly visible with flaky tests and causes significant delays in the release process.

[2021-10-27 16:35] dfarrell07 commented on #45
This is how we can do that bit:

https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast

[2021-10-28 06:28] vthapar opened #64 "[EPIC] Support for VPC Peering"
**What would you like to be added**:
Proposal is to add support for VPC Peering between clusters deployed with same cloud provider.

**Why is this needed**:
When all cluster are deployed within the same cloud provider, VPC Peering provides secure networking between them. In such scenario one can use VxLan Cable driver for better performance without the IPSec overhead.

**Work Items**

- [ ] Add ge

[2021-10-28 08:42] mkolesnik commented on #45
[code]

There's a reason we set this to `false` though, since when we have only some combinations that fail it makes it much easier to know that only these combinations failed.

Additionally, you can always cancel a workflow manually, so I don't see a reason to lose this information.

[2021-10-28 09:09] skitt commented on #45
This isn’t about controlling GHAs themselves; it’s about what happens inside `make e2e`. As Mike says we shouldn’t abort the matrix early. I’m only asking that `make e2e` itself abort on the first failure (so this is about Ginkgo configuration, not GHA configuration).

[2021-10-28 09:57] mkolesnik commented on #45
Oh then that makes more sense IMO, perhaps you should update the description to make it clearer?

[2021-10-28 10:08] skitt opened #46 "Provide ARM64 support"
## Epic Description

We want to provide out-of-the-box support for ARM64. Submariner should just work on ARM64 nodes, with no special configuration by the administrator or end-user.

## Acceptance Criteria

- [x] All the Submariner components can be deployed on ARM64 nodes
- [x] All the Submariner components work with each other regardless of individual nodes’ architectures (_e.g._ an x86 route ag

[2021-10-28 12:42] tpantelis commented on #64
We had decided to put the epics in the enhancements project.

[2021-10-29 14:30] aswinsuryan opened #47 "Support connecting multiple OCP clusters on RHOS using Submariner"
## Epic Description
Support connecting multiple OCP clusters on RHOS using Submariner.
Why is this needed:
The aim of this proposal is to list and track steps needed to fill any gaps and allow full support for such deployments.

## Acceptance Criteria
Should be able to prepare and deploy submariner in RHOS using subctl and cloud-prepare.

## Definition of Done (Checklist)

* [x] Code complete
* [x

[2021-10-29 14:32] aswinsuryan opened #48 "Support connecting multiple OCP clusters on ROSA using Submariner."
## Epic Description
Support connecting multiple OCP clusters on ROSA using Submariner.
Why is this needed:
The aim of this proposal is to list and track steps needed to fill any gaps and allow full support for such deployments.

## Acceptance Criteria
Should be able to prepare and deploy submariner in ROSA using subctl and cloud-prepare.

## Definition of Done (Checklist)

* [ ] Code complete
* [

[2021-11-01 07:49] mkolesnik opened #49 "Developer oriented scale testing"
We would like to create tooling that allows running multiple kind clusters in scale testing on one or more machines, and run scale testing to identify any issues.

Tasks:
- [ ] [Develop ability to run scale tests: `make scale-test`](https://github.com/submariner-io/shipyard/issues/655)
- [ ] Document tooling on the website
- [ ] Run scale testing with the tool
- [ ] Run longevity testing with the

[2021-11-02 03:10] tpantelis opened #50 "Automated unjoin/uninstall"
## Epic Description

Add support to automatically "unjoin" a previously connected cluster by deleting/uninstalling all the Submariner-related components and removing dataplane rules programmed on the route agent and gateway nodes.

This is a common request from users. A manual process is documented [here](https://submariner.io/operations/cleanup/).

The uninstall process should be able to be initi

[2021-11-02 07:25] sridhargaddam opened #51 "Support Globalnet deployment in ACM/OCM"
## Epic Description
Currently, ACM/OCM only supports deploying Vanilla Submariner, and it's not possible to deploy Globalnet.
This EPIC is to track the individual tasks associated to implement Globalnet in ACM.

Along with this, we also want to address the [remaining bits](https://github.com/submariner-io/submariner/issues/652) from the Globalnet 2.0 feature, primarily the metrics support and remo

[2021-11-02 08:49] sridhargaddam opened #52 "Submariner support for load-balancer mode"
## Epic Description
Submariner load-balancer support

Currently, the load-balancer mode is an experimental feature in Submariner and is not well tested across various public and onPrem clusters. This EPIC is to understand the load-balancer implementations across AWS and GCP clouds to start with, finding any gaps and also its implications on HA-failover times.

## Acceptance Criteria
Identify and w

[2021-11-02 08:57] Jaanki opened #53 "Epic: Restructure/refactor submariner-operator repo"
## Epic Description
This will ensure that submariner-operator repo structure follows go standards and is optimised.

## Acceptance Criteria
submariner-operator code is as much optimised and modular as possible.

## Definition of Done (Checklist)

* [x] Code complete
* ~~[ ] Relevant metrics added~~
* [x] The acceptance criteria met
* [x] Unit/e2e test added & pass
* [x] CI jobs pass
* ~~[ ] Deploy

[2021-11-02 09:03] Jaanki opened #54 "Improve integration with submariner-addon"
## Epic Description
Submariner addon should use submariner operator to manage submariner deployment on managed clusters. This allows for reusing of operator, automated management using operator and a single point of development efforts.

## Acceptance Criteria
addon uses operator to deploy broker and submariner on hub and spokes.

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Releva

[2021-11-02 09:31] vthapar opened #88 "[EPIC] Debuggability and Troubleshooting support in OCM"
---
name: Debuggability and Troubleshooting
about: Improving debuggability and troubleshooting for submariner deplyments in general, OCM in particular
labels: epic

---

## Epic Description
Current documentation on Sumariner.io - [Troubleshooting docs](https://submariner.io/operations/troubleshooting/) covers the basic manual steps and how to run subctl diagnose and gather. What more needs to be d

[2021-11-02 12:35] skitt opened #56 "Handle certificate rotation"
## Epic Description

We want to enable certificate rotation, especially for accessing the broker. Rotated certificates will need to be propagated somehow, or we’ll need to find some other (secure) way of authenticating and authorising access to the broker. This will have to include `broker-info.subm` files — we want `subctl join` to be possible throughout the lifetime of a broker.

## Acceptance C

[2021-11-13 20:59] tpantelis commented on #50
[This blog](http://blog.itaysk.com/2017/12/26/the-single-use-daemonset-pattern-and-prepulling-images-in-kubernetes) describes how to run a job on each container using a DaemonSet.

[2021-11-17 07:33] maayanf24 opened #57 "Epic: Debuggability improvements"
## Epic Description

Improve current troubleshooting documentation on Sumariner.io - [Troubleshooting docs](https://submariner.io/operations/troubleshooting/)
Aim is to make it easy for support teams to troubleshoot and resolve the problems, or capture relevant information if unable to resolve.

## Acceptance Criteria

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics a

[2021-11-24 14:21] tpantelis commented on #50
@cmwylie19  Some notes/observations after studying the submariner add-on code a bit.

The add-on is bootstrapped by [deploying](https://github.com/open-cluster-management/submariner-addon/tree/main/deploy), on the hub, the [SubmarinerConfig CRD](https://github.com/open-cluster-management/submariner-addon/blob/main/deploy/olm-catalog/manifests/submarineraddon.open-cluster-management.io_submarinerco

[2021-11-24 20:46] ghost commented on #50
I'm still digging into the codebase but it appears as though the mechanism for installing the `submariner-operator` subscription is through the `SubmarinerConfig` [resource](https://github.com/open-cluster-management/submariner-addon/blob/main/docs/submarinerConfig.md).  I could be way off.

[In this document](https://github.com/open-cluster-management/submariner-addon/blob/main/docs/submarinerCon

[2021-11-24 21:16] tpantelis commented on #50
The `SubmarinerConfig` enables the end user to customize the Submariner deployment, including the Operator `Subscription` configuration. But the `SubmarinerConfig` is not required for deployment, defaults are used if it is [not present](https://github.com/open-cluster-management/submariner-addon/blob/main/pkg/hub/submarinerbrokerinfo/brokerinfo.go#L136).

The controller already [adds a finalizer](

[2021-12-03 06:20] dfarrell07 opened #58 "Epic: CNCF Incubation/Graduation, CII Silver/Gold"
## Epic Description

Prepare to apply for CNCF Incubation. Use CNCF Graduation and CII Silver/Gold as guidance for exceeding Incubation minimums and preparing for Graduating in less than two years from Incubating (per requirements).

## Acceptance Criteria

[CNCF Sandbox](https://github.com/submariner-io/submariner/issues/1297)
-  [x] Trademarks: transfer any trademark and logo mark assets over to

[2021-12-08 20:02] dfarrell07 commented on #88
I can help with the CI/CD work items you have listed there if you'd like, @vthapar.

[2021-12-21 15:28] SoftTissues opened #62 "Add support for Kube-OVN."
## Epic Description

Ovn-kubernetes is not so convenient to use. Please consider supporting Kube-OVN.

## Acceptance Criteria

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance criteria met
* [ ] Unit/e2e test added & pass
* [ ] CI jobs pass
* [ ] Deployed using cloud-prepare+subctl
* [ ] Deployed using ACM/OCM addon
* [ ] Deploy using Helm
*

[2021-12-21 17:52] dfarrell07 commented on #62
This is related to https://github.com/submariner-io/submariner/issues/1598. Thanks @SoftTissues!

[2021-12-21 18:11] dfarrell07 commented on #62
This is also relevant: https://github.com/submariner-io/submariner/issues/778

[2021-12-22 08:47] nyechiel commented on #50
@tpantelis my understanding is that design work/high level plan was completed. Can you confirm what is the implementation plan? It would be great if you can break it into specific tasks and identify owners for each. We still want to complete it for 0.12 for both `subctl` and the addon.

[2021-12-22 13:24] tpantelis commented on #50
I specified the work items above. I put down tentative owners for each - other folks are working on other things so I haven't gotten commitment from anyone else to work on this.

[2021-12-22 16:59] nyechiel commented on #47
See https://github.com/submariner-io/cloud-prepare/issues/19 for cloud-prepare

[2021-12-23 07:09] nyechiel commented on #64
I moved it over using https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2021-12-23 07:13] nyechiel commented on #57
@maayanf24 is this something you are planning to work on for 0.12?

[2021-12-23 07:18] nyechiel commented on #64
- With the current Submariner model, within a ClusterSet, all the participating clusters must use the same cable driver. This also means that for this use case, within a ClusterSet we expect all clusters to be interconnected via VPC Peering connections in a full mesh - and all of the Submariner connections must use the same driver (typically VXLAN). @sridhargaddam while VXLAN makes most sense for

[2021-12-23 08:45] sridhargaddam commented on #64
+1. When VPC Peering is used, the default Cable-driver can be shown as VxLAN, but we can give an option to the user to override it.

+1 with an assumption that all such clusters are directly reachable over their private ips and inter-cluster traffic does not enter a public domain.

[2022-01-04 14:31] dfarrell07 commented on #87
Should we move this epic to the enhancements repo?

[2022-01-04 14:31] dfarrell07 commented on #116
Should we move this epic to the enhancements repo?

[2022-01-04 14:31] dfarrell07 commented on #117
Should we move this epic to the enhancements repo?

[2022-01-04 14:46] dfarrell07 commented on #88
Do we want to move this epic to the enhancements repo?

[2022-02-08 14:25] dfarrell07 commented on #35
@sridhargaddam mentioned there is a dependency on Load Balancer work here.

[2022-02-08 14:30] dfarrell07 commented on #37
@tpantelis points out that there isn't a user/use-case driving this, maybe we should table it until there is one.

@donaldh points out there might be license issues if we use this for commercial purposes.

[2022-02-08 14:30] #37 closed, assigned to nobody

[2022-02-08 14:33] dfarrell07 commented on #38
@sridhargaddam this sounds technically interesting but we don't have a user or use-case for it currently. Closing for now, we can re-open if someone has a reason to work on this.

[2022-02-08 14:33] #38 closed, assigned to nobody

[2022-02-08 14:42] dfarrell07 commented on #39
@sridhargaddam and @tpantelis talked about this on the Issue scrub and it seems useful, different from other uninstall work.

[2022-02-08 14:45] dfarrell07 commented on #34
@Billy99 mentioned the Axon team might be taking a look at this.

[2022-02-08 14:51] dfarrell07 commented on #36
We don't seem to have a user or use-case driving this, and although it seems technically interesting, maybe we should close it until we do.

[2022-02-08 14:51] #36 closed, assigned to nobody

[2022-02-15 14:16] dfarrell07 commented on #45
We should be able to control this behavior with labels on PRs.

[2022-02-15 14:59] dfarrell07 commented on #68
Related: https://github.com/submariner-io/enhancements/pull/4

[2022-02-17 17:49] nyechiel commented on #49
@mkolesnik can this be moved from 0.12?

[2022-02-17 18:01] nyechiel commented on #57
@maayanf24 ^^

[2022-02-21 09:10] nyechiel commented on #47
@aswinsuryan can you update this one please?

[2022-02-21 09:50] nyechiel commented on #57
Some items landed in 0.12, some are not. Moving to the general backlog board so that we can further discuss this as part of 0.13 planning. This seems like a "collection of items" rather than an epic, and as such, I suggest to report specific issues and prioritize.. otherwise it would be hard to make more progress on this.

[2022-02-22 17:03] aswinsuryan commented on #47
The addon and other tasks related to monitoring are pending.

[2022-02-22 17:13] nyechiel commented on #47
Let's not also forget about docs.

[2022-02-23 11:44] skitt commented on #46
This is blocked on re-reviews.

[2022-03-08 13:29] aswinsuryan opened #71 "Documentation for deployments and removal using cloud-prepare and subctl"

[2022-03-08 13:29] #71 closed, assigned to nobody

[2022-03-10 15:05] mkolesnik opened #74 "Need tools for synchronized actions across multiple git repos"
**What would you like to be added**:
We need to either find or develop some tools to make actions across multiple repos in our org:

- Create/Delete labels
- Create/Delete milestones
- Move tickets between project boards (eg when release finishes move remaining to backlog)
- Update GHA versions (since were using SHAs)

Tooling could live under `releases` repo

**Why is this needed**:
We often need

[2022-03-14 13:46] skitt opened #75 "Epic: descope the Submariner operator"
## Epic Description

The Submariner operator currently has wide-ranging privileges. It doesn’t need to be able to access anything outside the namespaces it manages, so this should be reduced. See https://hackmd.io/wVfLKpxtSN-P0n07Kx4J8Q for background.

Depends on https://github.com/submariner-io/submariner-operator/issues/1105

RBAC generation will affect this, we should wait to have a better ide

[2022-03-14 14:12] Billy99 commented on #34
Enhancement document: https://github.com/submariner-io/enhancements/pull/69

[2022-03-15 11:58] maryamtahhan opened #76 "Epic: New Cable Driver protocols"
## Epic Description
The goal of this Epic is to enable a number of new features for Submariner Cable Drivers:

1. additional cable driver encapsulation protocols, including: IP in IP and GRE. Enabling these encapsulation protocols could allow for performance improvements over the current configuration.

2. Enabling IPSec transport mode - coupled with VXLAN, GRE or IP in IP.

3. It should be possib

[2022-03-15 12:28] maryamtahhan opened #77 "Epic: Simultaneous multiple cable support"
## Epic Description
Submariner currently offers three cable drivers: VXLAN, IPSec or wireguard. However only one of these cable drivers
is enabled across all the clusters in a ClusterSet; That is all clusters that join a broker must use the same cable
driver. The goal of this proposal is to extend the current model to support the selection of different cable types
between connected clusters. For e

[2022-03-15 13:41] dfarrell07 commented on #62
Discussing this on the PR/Issue scrub, we're not sure this make sense to add and support. We're already working on OVN-K8s support. If someone really wants this and will maintain it, we're open to discussion, closing for now.

[2022-03-15 13:41] #62 closed, assigned to nobody

[2022-03-17 16:00] skitt opened #79 "Rework kubeconfig/kubecontext handling in subctl"
The various `subctl` commands support a mixture of `KUBECONFIG` environment variables, `--kubeconfig` flags, `--kubecontext` flags, kubeconfig files etc.

We should make this consistent, ideally using `clientcmd`’s tools to handle kubeconfig. https://github.com/skitt/submariner-operator/pull/23 has an old attempt at this, using https://pkg.go.dev/k8s.io/client-go@v0.23.5/tools/clientcmd#BindOverri

[2022-03-17 16:09] skitt opened #80 "Handle default namespaces in subctl"
kubeconfigs can specify a default namespace; whenever `subctl` needs a namespace, if none is specified by command-line flags, it should use the default namespace in the current context, _i.e._ the namespace set with

[code]

or variants thereof.

[2022-03-17 16:37] skitt opened #81 "Epic: rebuild the Submariner operator using current best practices"
## Epic Description

The operator was built using an old version of the [Operator SDK](https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/). This causes a number of problems:

* our code (in particular, metrics setup) relies on an old version of the Operator framework, which is incompatible with current versions of the Kubernetes libraries
* we’re missing out on features su

[2022-03-18 11:33] donaldh opened #83 "Epic: Hub controller for lighthouse"
## Epic Description

The goal of this epic is to implement ServiceImport merging.

Once an mcs-controller has been introduced, the reconciliation logic will be extended to address
the following open issues:

- Mark conflicting `ServiceExport` objects with the `ServiceExportConflict` condition
- Merge matching `ServiceExport` objects into a single `ServiceImport` object

Related enhancement proposa

[2022-03-18 11:44] donaldh commented on #83
[Aggregate ServiceImports](https://github.com/orgs/submariner-io/projects/15#card-65798653)
[Updating an exported service is not handled](https://github.com/orgs/submariner-io/projects/15#card-78014265)
[GlobalNet - exported service isn't reachable using desired port after service port edit](https://github.com/submariner-io/submariner/issues/1738)
[GlobalNet- exported service isn't reachable after

[2022-03-18 15:47] tpantelis opened #84 "Move reporter API from submariner-operator to admiral"
**What would you like to be added**:

The [reporter API](https://github.com/submariner-io/submariner-operator/tree/devel/pkg/reporter) is generic so move it to admiral.

**Why is this needed**:

This will allow the API to be used by other projects, specifically in `cloud-prepare` to replace a [similar API](https://github.com/submariner-io/cloud-prepare/blob/devel/pkg/api/api.go#L22).

[2022-03-18 15:54] #50 closed, assigned to skitt, sridhargaddam, tpantelis

[2022-03-20 00:20] github-actions[bot] opened #85 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/enhancements/actions?query=workflow%3APeriodic) for details.

[2022-03-21 08:44] vthapar commented on #83
@donaldh Any specific reason why we need a hub controller and cant make this work without needing a centralized mcscontroller? Having a serverless broker has been one of the core design tenent of submariner. If we want to introduce a central controller to run on broker, it should be with a good enough reason. Note that an mcs controller with come withs own overhead of HA etc.

[2022-03-21 13:47] sridhargaddam commented on #52
Related issue: https://github.com/submariner-io/submariner/issues/1410

[2022-03-21 14:10] donaldh commented on #83
@vthapar I have described the reason in enhancement pr #82

[2022-03-21 19:15] vthapar commented on #88
Partialy done in 2.5. All UI items were scoped out of 2.5 due to other higher priority work items with UI team.

[2022-03-22 09:52] Jaanki opened #89 "Epic: Move subctl to its own repo"
## Epic Description
subctl, soon to be a library itself, should be moved out of submariner-operator repo to its own repo. Everything specific to the subctl is moved to the subctl repo. Operator repo depends on the subctl repo. Operator repo should contain things that the operator framework generates/ needs. This is an alternative to the previous proposal of moving bundles out of the operator repo.

[2022-03-22 09:56] Jaanki commented on #81
NOTE: if #89 is approved, it should be done first.

[2022-03-22 10:55] donaldh opened #90 "Epic: ImportPolicy for selective service import"
## Epic Description

This is a proposal to introduce policy CRDs to filter the `ServiceImports` that get added to
each cluster. The policy would primarily make it possible to limit what gets imported to a
cluster:

- import all (the current behaviour)
- import namespace foo
- import named: [ foo:svc, ... ]
- no import

The policy would additionally support namespace mapping so that `ServiceImports

[2022-03-23 12:20] maayanf24 commented on #51
@sridhargaddam can we close this?
If not, please move to the Backlog board

[2022-03-23 12:26] sridhargaddam commented on #51
Pretty much all the activities planned as part of this EPIC are completed. We have PRs/issues to track the documentation work, so we can close this.

[2022-03-23 12:26] #51 closed, assigned to sridhargaddam

[2022-03-27 00:23] github-actions[bot] opened #92 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/enhancements/actions?query=workflow%3APeriodic) for details.

[2022-03-28 08:11] vthapar opened #93 "[EPIC]: Connection status in OCM UI"
## Epic Description
Currently OCM UI doesn't show connection status in its own UI. It shows up as part of ManagedClusterAddOn status. It is not very intuitive for user to know which cluster connections are in connecting or error states. With topology view available in OCM 2.6, it should be used to display multicluster connection information to user.

Refer https://github.com/submariner-io/enhancem

[2022-03-28 08:22] vthapar opened #94 "[EPIC] OCM - Add option to run diagnose in UI"
## Epic Description

`subctl diagnose` is a CLI tool used to troubleshoot submariner deployments. But no such tools are available from the OCM UI. Add option in OCM UI to run diagnostics.

Refer submariner-io/submariner-operator#88

## Acceptance Criteria
TBD

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance criteria met
* [ ] Unit/e2e test a

[2022-03-28 08:57] vthapar opened #95 "[EPIC] Add option to gather submariner logs from OCM UI"
## Epic Description

`subctl gather` is a CLI tool used to gather logs and other data from submariner deployments. But no such tools are available from the OCM UI. Add option in OCM UI to run gather logs.

Refer #88

## Acceptance Criteria
TBD

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance criteria met
* [ ] Unit/e2e test added & pass
* [

[2022-03-28 09:07] vthapar commented on #88
Broke up this EPIC into smaller sub epics. Progress will be tracked in individual EPICs, retaining this for historical purposes.

[2022-03-28 13:10] vthapar commented on #93
Closing for now. Revisit when we have more clarity on what needs to be done in submariner.

[2022-03-28 13:10] #93 closed, assigned to nobody

[2022-03-28 13:13] vthapar commented on #95
Close for now, revisit when more clarity on what needs to be done on submariner.

[2022-03-28 13:13] #95 closed, assigned to nobody

[2022-03-28 17:06] astoycos opened #96 "Get Submariner/OVN-Kubernetes Integration to a Production Ready State"
## Epic Description

[OVN-Kubernetes](https://github.com/ovn-org/ovn-kubernetes) is one of the two CNI's supported by RedHat Openshift, and will soon become the sole CNI for the Kubernetes distribution.  Submariner supports the CNI via the [OVN-Kubernetes specific NetworkPluginSyncer](https://github.com/submariner-io/submariner/tree/devel/pkg/networkplugin-syncer/handlers/ovn), however the design

[2022-03-28 17:13] astoycos opened #97 "Submariner Globalnet Support with OVN-Kubernetes CNI"
## Epic Description

The current implementation of Globalnet Controller works with iptables based kubeproxy. We have to add support for clusters that use OVN as the network-plugin driver.

## Acceptance Criteria

The Globalnet feature functions correctly when using Submariner with the OVN-Kubernetes CNI.

## Definition of Done (Checklist)

* [x] Code complete
* [x] Relevant metrics added
* [x] The

[2022-03-29 09:47] maryamtahhan commented on #76
Enhancement proposal:
https://github.com/submariner-io/enhancements/pull/98 and https://github.com/submariner-io/enhancements/pull/103

[2022-03-30 11:05] maayanf24 commented on #88
@vthapar - can we close this epic now?

[2022-04-03 00:21] github-actions[bot] opened #100 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/enhancements/actions?query=workflow%3APeriodic) for details.

[2022-04-04 11:19] #88 closed, assigned to dfarrell07, vthapar, maayanf24

[2022-04-07 20:02] #84 closed, assigned to tpantelis

[2022-04-10 00:20] github-actions[bot] opened #104 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/enhancements/actions?query=workflow%3APeriodic) for details.

[2022-04-11 13:50] maayanf24 commented on #57
Will open separate issues for remaining work

[2022-04-11 13:50] #57 closed, assigned to nobody

[2022-04-11 14:34] skitt commented on #92
Duplicate of #85.

[2022-04-11 14:34] #92 closed, assigned to nobody

[2022-04-11 14:34] skitt commented on #100
Duplicate of #85.

[2022-04-11 14:34] skitt commented on #104
Duplicate of #85.

[2022-04-11 14:35] #100 closed, assigned to nobody

[2022-04-11 14:35] #104 closed, assigned to nobody

[2022-04-12 14:21] #85 closed, assigned to nobody

[2022-04-12 14:42] r2dedios opened #107 "VPC Peering management in "subctl""
# Submariner VPC Peering Support

This document describes the technical details and impact of our proposal design
to include Virtual Private Cloud (VPC) Peering support for Submariner and
`subctl` located at this [Pull Request](https://github.com/submariner-io/cloud-prepare/pull/190).

## Abstract
This idea was born meanwhile the CockroachDB project focused to deploy a
multi-cluster setup of Cockr

[2022-04-12 20:57] dfarrell07 opened #108 "Epic: Reorganize website"
## Epic Description

The website has grown incrementally without any overall design. To make it more clear and usable, and to ease future website contributions, we should agree on an overall website layout.

## Acceptance Criteria

A more usable design is created, agreed on, and implemented.

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance c

[2022-04-13 12:19] skitt commented on #75
This doesn’t have a corresponding EP yet; I don’t think it’s worth going into detail until https://github.com/submariner-io/enhancements/pull/105 is implemented, since that should address a number of the issues involved in descoping the operator (or help determine whether it is actually possible to do so).

I will revisit this once https://github.com/submariner-io/enhancements/pull/105 is done, an

[2022-04-13 12:23] maryamtahhan commented on #77
After reviewing the design - it was decided to pursue the original proposal https://github.com/submariner-io/enhancements/pull/4. As such this epic will be closed.

[2022-04-13 12:23] #77 closed, assigned to maryamtahhan

[2022-04-22 06:05] Jaanki opened #114 "Create a new `subctl` repository"
and....

- [x] copy all the contents from submariner-operator repository.

Part of [Epic: Move subctl to its own repo](https://github.com/submariner-io/enhancements/issues/89#)

[2022-04-26 13:09] dfarrell07 commented on #75
Talking about this on the PR scrub, it seems it has two serial dependencies and would be tough to finish this release. Moving back to the backlog.

[2022-04-26 13:11] dfarrell07 commented on #83
It seems like https://github.com/submariner-io/enhancements/pull/82 is closed, and this Epic doesn't track https://github.com/submariner-io/enhancements/pull/111. Should it be updated?

[2022-04-26 13:30] dfarrell07 commented on #34
Talking about this on the PR scrub today:

* It seems like the EP and feature branch are quite ready for non-globalnet, but GN would require lots more code changes, more design thinking.
* Tom pointed out that the GN code change would be good refactoring anyway, lot of code dupe to be fixed, separation of concerns, other refactoring that would be generally helpful.
* Are there smaller parts (like

[2022-04-26 13:40] dfarrell07 commented on #64
Talking about this on the PR scrub today, it seems like there are still open questions:

* What exactly is Submariner supposed to do in this use-case - @mkolesnik
* If we had a ClusterSet in AWS doing VPC peering, and we add a cluster from GCP that doesn't support VPC peering, what do we do? @sridhargaddam
* This might be more useful once we have connectivity policies, where we can exactly say whi

[2022-04-26 13:44] donaldh commented on #83
Good catch @dfarrell07, I have updated the title and description to match the ER.

[2022-04-26 13:45] dfarrell07 commented on #79
This seems to depend on two serial Epics, so it would seem not likely to get done in 0.13. The EP is also being reviewed. We also don't have Stephen for discussion, and he's also working on other big ones like the Operator SDK. Moving this from the 0.13 release for now.

[2022-04-26 13:47] dfarrell07 commented on #90
Talking about this on the PR Scrub, seems like this needs an EP and more discussion for 0.13. Moving off 0.13 for now.

[2022-04-26 13:49] dfarrell07 commented on #108
This isn't ready for 0.13, moving off board for now, will continue trying to iterate on design during this release.

[2022-04-26 13:57] dfarrell07 commented on #87
Discussion about this on PR Scrub:

* This doesn't seem to be size:med, it will take a lot of time with all the testing, much more than a sprint (moved to large)
* Do we need an EP for this? It was started before this release, is already WIP (but this might not be a good reason). This isn't much of a design change, is basically an extension of what we already do.

[2022-04-28 13:46] maryamtahhan commented on #76
IP in IP - Proposal not accepted
- [Enhancement request](https://github.com/submariner-io/enhancements/pull/98)
- Implementation [Submariner](https://github.com/submariner-io/submariner/pull/1716) and [shipyard](https://github.com/submariner-io/shipyard/pull/748)

[2022-04-28 13:55] maryamtahhan commented on #76
Overlay over IPSec in transport mode - Proposal not accepted

- [Enhancement proposal](https://github.com/submariner-io/enhancements/pull/103)
- Implementation [Submariner](https://github.com/maryamtahhan/submariner/tree/feat_ipsec_transport), [shipyard](https://github.com/submariner-io/shipyard)

[2022-04-28 14:00] maryamtahhan commented on #76
GRE - was not implemented due the concerns around cable driver support and maintenance in the long term

[2022-04-28 14:00] #76 closed, assigned to maryamtahhan

[2022-05-04 17:47] dfarrell07 commented on #45
Lighthouse E2E jobs that fail currently time out before finishing their post-mortem. This is being cited (see recent mentions of this issue above) as the correct solution, instead of increasing the E2E timeout. Wanted to clarify that as we consider the priority/implications here.

[2022-05-10 09:29] skitt commented on #114
The repository has been created: https://github.com/submariner-io/subctl

[2022-05-10 09:32] #114 closed, assigned to Jaanki

[2022-05-12 14:50] dfarrell07 commented on #81
As Andrew McNamara pointed out on Slack, this will have implications downstream that we shouldn't forget.

[2022-05-12 14:57] arewm commented on #81
I was about to make some changes to this in order to remove the need for a workaround for https://github.com/operator-framework/operator-sdk/issues/5760, but stopped when I realized there may be additional implications of an update in one place.

One change that I was going to make was with `PROJECT` to have the following contents:
[code]

[2022-05-17 18:01] #53 closed, assigned to Jaanki, tpantelis

[2022-05-30 12:20] nyechiel commented on #64
Related design proposal: https://github.com/submariner-io/enhancements/pull/121

[2022-06-08 08:46] sridhargaddam commented on #96
The following PR implements the necessary support for OCP 4.11 - https://github.com/submariner-io/submariner/pull/1689

[2022-06-09 12:52] #89 closed, assigned to Jaanki, tpantelis

[2022-06-10 08:54] josecastillolema opened #143 "[EPIC] Option for recovering the broker-info.subm file from a running broker cluster"
**Epic Description**

**What would you like to be added**:
It would be nice to have a `subctl` subcommand (or a well defined procedure) to recover the `broker-info.subm` from a running broker cluster.

**Why is this needed**:
There may be situations were the `broker-info.subm` file gets lost over time.

**Acceptance Criteria**
`broker-info.subm` file can be successfully recovered from the user spe

[2022-06-14 11:12] nyechiel commented on #46
@skitt I am assuming we want to get https://github.com/submariner-io/lighthouse/pull/694 and https://github.com/submariner-io/subctl/pull/66 into 0.13? If so, can you please add them to the project board and ensure they get reviewed?

Also, do we need to keep this tracking issue open or can we close at this point?

[2022-06-14 12:07] skitt commented on #46
https://github.com/submariner-io/lighthouse/pull/694 was already on the board, I’ve added https://github.com/submariner-io/subctl/pull/66. I’ll keep pinging people until they are merged.

Let’s keep this open until it’s all done...

[2022-06-14 14:29] nyechiel commented on #96
@vthapar @sridhargaddam  can you please review the issues linked to this epic? is there anything we want to still target to 0.13?

[2022-06-16 08:01] nyechiel commented on #81
@tpantelis @Jaanki so this is no longer planned for 0.13?

[2022-06-16 12:21] tpantelis commented on #81
No there's not enough time to get the PRs pushed and reviewed by Fri.

[2022-06-21 11:56] nyechiel commented on #47
@aswinsuryan I believe this is done at this point?

[2022-06-21 12:37] aswinsuryan commented on #47
@nyechiel Yes this is done , closing it.

[2022-06-21 12:37] #47 closed, assigned to aswinsuryan

[2022-06-21 16:58] nyechiel commented on #46
@skitt I think it's done now?

[2022-06-23 07:35] skitt commented on #46
I want to check the output of `subctl diagnose` and `subctl gather` to see if we need to add anything there. The documentation might need to be updated too.

[2022-06-23 07:38] nyechiel commented on #46
Makes sense. Thanks for thinking about these. In general, I think it's better to open individual issues to track concrete, small tasks (once we know what they should be). Things tend to get lost within big epics.

[2022-06-24 09:29] skitt commented on #46
Tracked in https://github.com/submariner-io/subctl/issues/122, https://github.com/submariner-io/subctl/issues/123, https://github.com/submariner-io/subctl/issues/124, and https://github.com/submariner-io/submariner-website/issues/782.

[2022-06-24 09:29] #46 closed, assigned to skitt

[2022-07-04 14:52] nyechiel commented on #49
@mkolesnik up to you, I think we can close and reopen when relevant.

[2022-07-05 05:32] mkolesnik commented on #68
Supporting anything other than full mesh isnt a priority right now (over 2 years since this been opened).

I propose we close this and revisit if this becomes a priority.

[2022-07-05 09:32] mkolesnik commented on #49
Agreed, closing

[2022-07-05 09:32] #49 closed, assigned to mkolesnik

[2022-07-05 11:13] Jaanki opened #123 "Automate generating release notes"
**What would you like to be added**:
There should be some sort of automation that generates release notes and publishes it on the website at the end of each release.

**Why is this needed**:
The current manual process is tiresome and not scalable.

[2022-07-05 13:31] maayanf24 commented on #68
This has been discussed on the issue scrub meeting and decided to close for now.
If this will become a priority it can be reopened

[2022-07-05 13:31] #68 closed

[2022-07-06 12:28] nyechiel commented on #94
Most of it really resides in ACM/stolostron repo.

[2022-07-06 12:28] #94 closed, assigned to nobody

[2022-07-06 12:33] nyechiel commented on #54
Let's open concrete items we want to be focusing on.

[2022-07-06 12:33] #54 closed, assigned to Jaanki

[2022-07-06 12:39] nyechiel commented on #117
Please reopen if/when this is needed.

[2022-07-06 12:39] #117 closed, assigned to nobody

[2022-07-06 12:41] nyechiel commented on #35
This was discussed in the Submariner community and the general feeling is that this is not aligned with our short-to-medium term goals.

[2022-07-06 12:41] #35 closed, assigned to nobody

[2022-07-12 14:16] dfarrell07 opened #124 "PR dependencies bot fails on this repo: "SHA and context has reached the maximum number of statuses""
I think this is because there are very few new commits merged to this repo relative to the number of times this check runs (on each comment). That results in the same SHA getting checked many times, which is hitting a limit at the GH API.

Merging any commit should fix this. Should maybe also run the dependency check less frequently to avoid in the future. A better solution would be welcome.

[2022-07-13 11:35] dfarrell07 commented on #124
Trying to get https://github.com/submariner-io/enhancements/pull/112 fixed/merged to get a new SHA at HEAD and fix this.

[2022-07-19 08:37] maayanf24 commented on #87
@aswinsuryan - Can we close the epic now?

[2022-07-19 08:41] maayanf24 commented on #96
@vthapar @sridhargaddam - can you report individual issues to track the remaining work and close the epic?

[2022-07-20 00:58] #87 closed, assigned to Jaanki, aswinsuryan, mkolesnik

[2022-07-20 20:34] dfarrell07 commented on #124
I don't think an empty commit worked: https://github.com/submariner-io/enhancements/pull/125#issuecomment-1190726179

I don't even see the empty commit on GitHub's view of the commits on devel: https://github.com/submariner-io/enhancements/commits/devel

I think we need an actual commit. We may also want to turn down the frequency of the bot and/or otherwise reduce how much it runs to mitigate thi

[2022-07-21 08:14] #124 closed, assigned to dfarrell07

[2022-07-21 08:30] nyechiel commented on #96
Closing now that 0.13 was shipped. Other gaps (e.g, Globalnet support) should be tracked separately.

[2022-07-21 08:30] #96 closed, assigned to vthapar, sridhargaddam, aswinsuryan, astoycos

[2022-07-25 12:30] nyechiel commented on #116
An interesting data point: feedback from users suggests that Submariner just works on vSphere without special preparation, at least on non-NSX environments. From @sridhargaddam: "If customers use NSX, then i would guess that outbound traffic might be allowed by default (which is usually the case even with other public clouds), but the ingress traffic (meeting Submariner pre-requisites) needs to be

[2022-09-13 12:20] yboaron opened #133 "Epic: Support submariner on ROSA"
## Epic Description

Support connecting multiple OCP clusters on ROSA using Submariner.
## Acceptance Criteria

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance criteria met
* [ ] Unit/e2e test added & pass
* [ ] CI jobs pass
* [ ] Deployed using cloud-prepare+subctl
* [ ] Deployed using ACM/OCM addon
* [ ] Deploy using Helm
* [ ] Deployed on

[2022-09-19 12:25] yboaron opened #135 "Epic: Support submariner on ARO"
## Epic Description

Support connecting multiple OCP clusters on ARO using Submariner.
## Acceptance Criteria

## Definition of Done (Checklist)

* [ ] Code complete
* [ ] Relevant metrics added
* [ ] The acceptance criteria met
* [ ] Unit/e2e test added & pass
* [ ] CI jobs pass
* [ ] Deployed using cloud-prepare+subctl
* [ ] Deployed using ACM/OCM addon
* [ ] Deploy using Helm
* [ ] Deployed on

[2022-09-21 17:15] astoycos commented on #45
Sorry I never got to this :(

[2022-09-29 09:10] nyechiel commented on #79
@skitt I think this is actually in progress?

[2022-09-29 09:41] skitt commented on #79
It is indeed, and part of it has been merged already (https://github.com/submariner-io/subctl/pull/242). There are a number of issues in GH and BZ which will be addressed by this once it’s done, I’ll be updating the issues as appropriate.

[2022-10-24 12:45] maayanf24 commented on #97
Only item left to do is documentation

[2022-10-24 12:45] #97 closed, assigned to sridhargaddam, aswinsuryan

[2022-10-24 12:47] maayanf24 commented on #52
@yboaron to update task list

[2022-10-25 08:01] #81 closed, assigned to Jaanki, tpantelis

[2022-10-26 06:07] yboaron commented on #135
I'm going to close this epic , we'll track open tasks as separate issues.

[2022-10-26 06:07] #135 closed, assigned to yboaron

[2022-10-26 06:08] yboaron commented on #133
I'm going to close this epic , we'll track open tasks as separate issues.

[2022-10-26 06:08] #133 closed, assigned to yboaron

[2022-10-27 08:43] yboaron commented on #52
I think we can close this epic and track open tasks as separate issues.
@sridhargaddam @maayanf24 , WDYT ?

[2022-10-27 09:21] maayanf24 commented on #52
Sounds good. @yboaron Please make sure there are issues for all open tasks and then you can close this epic

[2022-11-01 14:44] sridhargaddam commented on #97
Documentation is updated as part of the following PR: https://github.com/submariner-io/submariner-website/issues/830

[2022-11-02 13:36] yboaron commented on #52
I opened this issue  https://github.com/submariner-io/subctl/issues/1417

[2022-11-02 13:41] yboaron commented on #52
Going to close this issue

[2022-11-02 13:41] #52 closed, assigned to sridhargaddam, yboaron

[2022-11-03 07:40] maayanf24 commented on #116
Nothing to do here at this point

[2022-11-03 07:40] #116 closed, assigned to vthapar

[2022-11-03 13:38] skitt commented on #79
This is done for 0.14.

[2022-11-03 13:38] #79 closed, assigned to skitt

[2022-11-15 13:17] maayanf24 commented on #48
already done

[2022-11-15 13:17] #48 closed, assigned to nobody

[2022-11-15 13:20] maayanf24 commented on #83
Talked on the planning call - Not a priority for now

[2022-11-15 13:20] #83 closed, assigned to donaldh

[2022-11-15 13:22] maayanf24 commented on #64
Talked on the planning call - not a priority for now

[2022-11-15 13:22] #64 closed, assigned to nobody

[2022-11-15 13:23] maayanf24 commented on #90
Talked on planning call - not a priority

[2022-11-15 13:23] #90 closed, assigned to donaldh

[2022-11-15 13:54] aswinsuryan opened #142 "Write an enhancement proposal for OVN InterConnect support"
**What would you like to be added**:

Add support in Submariner to support OVN interconnect

**Why is this needed**:

The OVN is moving to a new architecture using an OVN interconnect. This would have an impact on Submariner. We need to test Submariner with the new implementation and make the necessary changes.

Enhancement PR: https://github.com/submariner-io/enhancements/pull/163

[2022-11-28 19:28] yboaron opened #145 "Submariner on single node clusters"
**What would you like to be added**:
Add Submariner support for single node cluster.
**Why is this needed**:

The cloud native approach to developing and deploying applications is increasingly being adopted in the context of edge computing.

Some infrastructure providers and application owners want a consistent workload life cycle approach across the business, this includes also their edge archite

[2022-11-29 09:04] yboaron opened #146 "Investigate the implications of KPNG for Submariner"
**What would you like to be added**:
Investigate the implications of [KPNG](https://github.com/kubernetes-sigs/kpng) for Submariner
**Why is this needed**:

The Kubernetes Proxy NG (KPNG) is a new design of kube-proxy that is planned to replace kube-proxy in future K8S releases.

[2022-11-29 14:46] dfarrell07 commented on #28
Discussed on the PR scrub, SEP-#### seems fine with that group.

[2022-11-29 14:50] dfarrell07 commented on #107
I think we've discussed not wanting to add infra features to subctl, that this might be a better stand-alone project. CC @mkolesnik to add thoughts.

[2022-11-29 14:51] dfarrell07 opened #147 "Add stalebot to enhancements repo"
We decided not to originally, but living through examples it seems like it would be helpful to have the bot here as well.